@require '../../main'

.sales-summary-container, .sale-container
  default-border-radius()
  back-box-shadow()
  margin-bottom: 20px

.sales-summary-container
  padding: 15px
  .alert-warning
    margin-bottom: 0
  .value
    font-weight: bold

.sales-history-container
  .alert
    margin: 0 15px 15px
  ul
    padding: 0
  .sale-container
    padding: 15px 0

  .value
    font-weight: bold
    color: main-color
