.logo
  font-family: ptSans
  margin: 5px 0 0 0
  logo-style()
  a:hover
    cursor: pointer
    text-decoration: none

.header
  default-transition(0.4s)
  display: block
  padding: 15px
  box-sizing: border-box
  width: 100%
  position: fixed
  top: 0
  z-index: 10
  background-color: #333
  color: #fff
  .menu-user
    float: right
    margin-top: 10px
    a, .logout-button
      background: none
      border: none
      font-weight: normal
      font-size: 1.1em
      &:hover, &:active
        text-decoration: none
