if req.userTheaters
  div.theater-select.btn-group
    button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-default.dropdown-toggle
      | #{req.currentTheater.name}
      span.fa.fa-caret-down
    
    ul.dropdown-menu
      each theater in req.userTheaters
        li: a(href="/teatros/#{theater.id}/eventos") #{theater.name}
      
      li(role="separator").divider
      li
        a(href="/teatros/novo") 
          i.fa.fa-plus
          | #{t('sideMenu.newTheater')}
