div.logo
  a(href="/")= 'Qettal Teatros'
  
nav.menu-user
  ul.inline-list
    if loggedUser
      li.list-item
        a(href="/perfil") #{cookies.qettal2LoggedUser}
      li.list-item
        form(method="POST" action="/logout")
          button(type="submit").logout-button= t("header.logout")
    else
      li.list-item
        a(href="/login")= t('header.login')
      li.list-item
        a(href="/cadastro")= t('header.signup')
